body, html {
    font-family: "Arial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
    margin: 0;
}
#app {
    text-align: center;
}

input[type="text"] {
    padding: 13px;
    margin-right: 5px;
    border-radius: 8px;
    width: 300px;
    border: 1px solid #ccc;
}
button {
    padding: 13px 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#status {
    margin-top: 20px;
    color: red;
}
.input-error {
    color: red;
    border-color: red;
}
#correct-count, #total-count #correct-percent {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}
#gif-container {
    width: 420px;
    height: 150px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    margin-bottom: 10px;
    background: black; /* Fallback background if GIF fails to load */
}

#anime-gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the GIF covers the container fully */
    z-index: 0;
}

#card {
    position: absolute;
    font-family: "Rampart One", sans-serif!important;
    z-index: 1;
    color: white;
    font-size: 64px;
  /*  -webkit-text-stroke: 2px white; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text readability */
}